@font-face{
    font-family: "GmarketSansLight";
    src: url('../asset/font/GmarketSansLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "GmarketSansMedium";
    src: url('../asset/font/GmarketSansMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "GmarketSansBold";
    src: url('../asset/font/GmarketSansBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}